:root{
    --color-dark: rgb(31, 31, 31);
    --color-light: rgb(236,236,236);
}
.btn-mode{
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.dark{
    background-color: var(--color-dark);
    color: var(--color-light);
}
.light{
    background-color: var(--color-light);
    counter-reset: var(--color-dark);
}

.card{
    border: 1px rgb(184,184,184);
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
}

.card button{
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    padding-left: 0.5rem 1.5rem;
}

.card input{
    border-radius: 1rem;
    border: none;
    background-color: aquamarine;
    padding: 0.5rem 1.5rem;
}

.card button.btn-guess{
    background-color: rgb(104, 212, 21);
    color: white;
    display: none;
}

.grading{
    border: 1px rgb(184,184,184);
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
}
