<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link 
rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
crossorigin="anonymous" 
referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/Shopping/main.page.css">

</head>
<body>

<div class="topnav">
  <a href="./main.page.html"><i class="fa-sharp fa-solid fa-house"></i></a>
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#">Link</a>
</div>

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
</ul>

<div class="content">
  <h2 id="atm-header">HORSE BANK ATM MACHINE</h2>
  <select name="menu" id="menu">Menu
    <option>Select an option</option>
    <option value="Deposit">Deposit</option>
    <option value="Withdraw">Withdraw</option>
    <option value="Exit">Exit</option>
  </select>
  <input type="number" name="amount" id="atmInput" placeholder="Enter Amount">
  <button type="submit" id="submitBtn">Submit</button><br>
  <p id="afterTransactionMessage">Your balance is: </p>
  

</div>

<div class="footer">
  <p>Footer</p>
</div>

<script src="./main.page.js"></script>
</body>
</html>


